<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>learnswift01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCC0A4C01EBBC18500CA9F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCC0A4D41EBBC18500CA9F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCC0A4DF1EBBC18600CA9F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
